<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.programmingknowledge.mybalance_v11">

    <!-- 안드로이드 부팅 이벤트 받기 권한 추가 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- This permission is need to check the internet connection state ! -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />



    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity
            android:name="com.example.ShowMsgActivity"
            android:theme="@style/AppTheme"></activity>
        <!-- 안드로이드 부팅 이벤트 받기 : BroadcastReceiver -->
        <!--<receiver android:name="com.example.MyAlarm" > <intent-filter>-->
            <!--<action android:name="android.intent.action.LOCALE_CHANGED"/>-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <receiver
            android:name="com.example.BootReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="BOOTReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<service android:name="com.example.services.LocationMonitoringService" /> &lt;!&ndash; BackgroundService &ndash;&gt;-->
        <service
            android:name="com.example.BackgroundService"
            android:enabled="true"
            android:stopWithTask="false"></service>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyALr88wG8gkDB_iGiy6YhugN87euZgGIQA" />

        <!--<activity-->
            <!--android:name=".MainActivity"-->
            <!--android:label="@string/app_name">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity android:name="com.example.GoogleMapAPI.GoogleMapActivity"

            android:theme="@style/AppTheme"/>
    </application>

</manifest>